* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.app {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    height: 100%;
    padding: 20px;
}

.text-line {
    padding: 20px;
    width: calc(100% - 40px);
    text-align: center;
}

.text-line span {
    margin: 5px;
}

.buttons, .life {
    width: 100%;
    text-align: center;
}

.buttons button {
    border-radius: 4px;
    background: linear-gradient(to right, #67b26b, #4ca2cb) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    width: 30px;
    line-height: 30px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

.buttons button:disabled {
    background: linear-gradient(to right, #f57c00, #ffc107) !important;
    transition: all 0.4s;
}

.ad {
    width: 100%;
    position: fixed;
    height: 40px;
    line-height: 40px;
    background: #363636;
    color: white;
    text-align: center;
    left: 0;
    bottom: 0px;
}